@model TrashCollector.Models.TrashC

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zipcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraPickUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill)
            </th>

            <th></th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Address)
            </td>
            <td>
                @Html.DisplayFor(model => model.City)
            </td>
            <td>
                @Html.DisplayFor(model => model.State)
            </td>
            <td>
                @Html.DisplayFor(model => model.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(model => model.Days)
            </td>
            <td>
                @Html.DisplayFor(model => model.StartDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.EndDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.ExtraPickUp)
            </td>
            <td>
                @Html.DisplayFor(model => model.Bill)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
                @Html.ActionLink("Details", "Details", new { id=Model.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=Model.Id })
            </td>
        </tr>
    </table>

